 <ion-header>
   <ion-toolbar>
      <ion-title>
        Welcome to Pseudoverse
      </ion-title>
      <ion-buttons *ngIf="isSignedIn"  (click)="back()" slot="start">
        <ion-button>
          <ion-icon name="arrow-back"></ion-icon>
          Back
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button  *ngIf="isSignedIn"  (click)="onLogoutClick()">
          Logout
        </ion-button>
        
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
 

<ion-router-outlet></ion-router-outlet>
<app-tabs  *ngIf="isSignedIn"></app-tabs>